BASE_URL=https://practicesoftwaretesting.com
USER_EMAIL=customer@practicesoftwaretesting.com
USER_PASSWORD=welcome01
USER_FIRST_NAME=John
USER_LAST_NAME=Doe
USER_PHONE=0599000000
USER_STREET=123 Test Street
USER_POSTAL_CODE=00000
USER_HOUSE_NUMBER=123
USER_CITY=Ramallah
USER_STATE=West Bank
USER_COUNTRY=PS
USER_DOB=1995-01-01
